:root {
  --primary-bg-color: hsl(190, 30%, 90%);
  --secondary-bg-color: hsl(0, 0%, 100%);
  --tertiary-bg-color: hsl(0, 0%, 0%);

  --primary-color: hsl(0, 0%, 40%);
  --secondary-color: hsl(190, 30%, 60%);
  --tertiary-color: hsl(0, 0%, 60%);

  --space-xs: 0.25rem;
  --space-sm: 0.5rem;
  --space-md: 1rem;
  --space-lg: 2.5rem;
  --space-xl: 5rem;

  --font-size-md: 1rem;
  --font-size-lg: 1.2rem;

  --search-tab-width: 960px;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-color);
}

#layout__footer {
  text-align: center;
  padding: var(--space-sm) 0;
}
