<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="layout(pageTitle)">
  <head>
    <meta charset="UTF-8" />
    <title th:text="${pageTitle}">ページタイトル</title>
    <link rel="stylesheet" th:href="@{/css/normalize.css}" />
    <link rel="stylesheet" th:href="@{/css/common.css}" />
    <link rel="stylesheet" th:href="@{/css/header.css}" />
    <link rel="stylesheet" th:href="@{/css/nav.css}" />
    <link rel="stylesheet" th:href="@{/css/search-form.css}" />
    <link rel="stylesheet" th:href="@{/css/count-results.css}" />
    <link rel="stylesheet" th:href="@{/css/show.css}" />
    <link rel="stylesheet" th:href="@{/css/field-stats.css}" />
  </head>
  <body id="layout">
    <div th:replace="fragments/header :: header"></div>

    <main id="layout__main">
      <div id="layout__container" th:insert="~{::content}"></div>
    </main>

    <footer id="layout__footer">
      <small>© 2025 くすり安心箱</small>
    </footer>
  </body>
</html>
